# Build artifacts
build/
*.exe
*.o
*.a
*.obj
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Configuration files
.vscode/
fs_root/
fs_root/*
system_config.txt

# OS Specific files
.DS_Store
Thumbs.db

# Generated release files
*.zip
*.iso
